@font-face {
  font-family: 'zagdokuFont';
  src: url(../fonts/zagDokuFont.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'libreFranklinFont-Regular';
  src: url(../fonts/LibreFranklin-VariableFont_wght.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'libreFranklinFont-Bold';
  src: url(../fonts/LibreFranklin-VariableFont_wght.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'winkyRoughFont-Regular';
  src: url(../fonts/WinkyRough-VariableFont_wght.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'winkyRoughFont-Bold';
  src: url(../fonts/WinkyRough-VariableFont_wght.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --bg-main: #f0f2f5;
  --bg-body: #fff;
  --bg-non-body: #515155;
  --color-txt: #000;
  --filled-color: #000;
  --filled-bg: #caf0f8;

  --white: #fff;
  --cyan: #ca5611;
  --red: #e91e63;
  --black: #000;

  --nav-size: 22.5rem;
  --game-board-top-margin: 10rem;
  --logo-img-size: 15rem;
  --sudoku-cell-size: 5rem;

  --border-radius: 1rem;

  --space-y: 2rem;

  --gap: 0.25rem;

  --font-size: 2.4rem;
  --font-size-lg: 3.2rem;
  --font-size-xl: 4.8rem;
}

.dark {
  --bg-main: #2a2a38;
  --bg-body: #1a1a2e;
  --color-txt: #c2bfbf;
  --filled-color: #4f4f63;
  --filled-bg: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'winkyRoughFont-Regular', sans-serif;
  font-size: var(--font-size);
  height: 100vh;
  background-color: var(--bg-body);
  overflow: hidden;
  user-select: none;
}

input {
  font-family: 'winkyRoughFont-Regular';
  border: 0.2rem solid var(--bg-main);
  color: var(--color-txt);
}

input:hover,
input:focus {
  border-color: var(--cyan);
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style-type: none;
}

nav {
  background-color: var(--bg-body);
  color: var(--color-txt);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0.5rem 0.2rem var(--bg-main);
  z-index: 100;
}

.nav-container {
  max-width: 96.8rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0 4rem;
  height: var(--nav-size);
}

.info-bar-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.nav-logo {
  font-family: 'winkyRoughFont-Bold';
  font-size: var(--font-size-xl);
  color: var(--cyan);
}

.nav-logo img {
  height: var(--logo-img-size);
}

.info-date-container,
.info-issue-container {
  color: var(--cyan);
  font-size: var(--font-size-sm);
}

.dark-mode-toggle {
  background-color: var(--cyan);
  padding: 0.5rem 2rem;
  border-radius: var(--border-radius);
  color: var(--white);
  font-size: var(--font-size-sm);
  cursor: pointer;
}

.bxs-sun {
  display: none;
}

.bxs-moon {
  display: inline-block;
}

.dark .bxs-sun {
  display: inline-block;
}

.dark .bxs-moon {
  display: none;
}

.main {
  height: 100vh;
  padding-top: var(--nav-size);
  display: grid;
  place-items: center;
}

.screen {
  position: relative;
  overflow: hidden;
  height: 100%;
  min-width: 40rem;
}

.start-screen {
  font-family: 'winkyRoughFont-Bold';
  position: absolute;
  margin-top: 5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(-100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: var(--space-y);
}

.start-screen.active {
  transform: translate(0);
}

.input-name {
  height: 8rem;
  width: 28rem;
  border-radius: var(--border-radius);
  outline: 0;
  background-color: var(--bg-main);
  padding: 2rem;
  font-size: var(--font-size-lg);
  text-align: center;
}
.directions {
  color: var(--color-txt);
}

.game-play-container {
  border: 0.2rem solid var(--cyan);
  padding: 1rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-y);
  justify-content: center;
  align-items: center;
}

.btn {
  height: 6rem;
  width: 28rem;
  background-color: var(--bg-main);
  color: var(--color-txt);
  border: 0.2rem solid var(--cyan);
  border-radius: var(--border-radius);
  font-size: var(--font-size-lg);
  display: grid;
  place-items: center;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.btn-cyan {
  background-color: var(--cyan);
  color: var(--white);
}

.input-err {
  border: 0.2rem solid var(--red);
  animation: bounce 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes bounce {
  0% {
    transform: translatex(0);
  }
  25% {
    transform: translatex(2rem);
  }
  50% {
    transform: translatex(-2rem);
  }
  100% {
    transform: translateY(0);
  }
}

.main-game {
  font-family: 'zagdokuFont';
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 0;
  transform: translate(-100%);
  transition: transform 0.3s ease-in-out;
}

.main-game.active {
  transform: translate(0);
}

.main-sudoku-grid {
  display: grid;
  background-color: var(--bg-non-body);
  border: 0.2rem solid var(--bg-non-body);
  grid-template-columns: repeat(9, auto);
  gap: var(--gap);
}

.main-grid-cell {
  width: var(--sudoku-cell-size);
  height: var(--sudoku-cell-size);
  /* border-radius: var(--border-radius); */
  background-color: var(--bg-main);
  color: var(--cyan);
  display: grid;
  place-items: center;
  font-size: var(--font-size);
  cursor: pointer;
}

.main-grid-cell.filled {
  background-color: var(--filled-bg);
  color: var(--filled-color);
}

.main-grid-cell.selected {
  background-color: var(--cyan);
  color: var(--white);
}

.main-grid-cell:hover {
  border: 0.2rem solid var(--cyan);
}

.main-grid-cell.hover {
  border: 0.3rem solid var(--cyan);
}

.dark .main-grid-cell.hover {
  border: 0.1rem solid var(--cyan);
}

.main-grid-cell.err {
  background-color: var(--red);
  color: var(--white);
}
